// Variables
$primary-color: #007bff;

// Mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styles
.login-container {
  height: 100vh;
  @include center;
}

.login-form {
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
  @media screen and (max-width: 480px) {
    width: 100%;
    border-radius: 0;
  }
}

.login-form__title {
  font-size: 24px;
  color: $primary-color;
  text-align: center;
  margin-bottom: 20px;
}

.login-form__input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  
  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.login-form__button {
  width: 100%;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}